<div class="new-dream panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Add a new member</h3>
  </div>

  <div class="panel-body">

    <div>

      <div>
        <label>First Name:</label>
        <br>
        <input class='form-control' #newFirstName>
      </div>

      <div>
        <label>Last Name:</label>
        <br>
        <input class='form-control' #newLastName>
      </div>

      <div>
        <label>Role at the club</label>
        <br>
        <input class='form-control' #newRole>
      </div>

      <div>
        <label>Bio</label>
        <br>
        <input class='form-control' #newBio>
      </div>

      <br>

      <button class='btn' (click)="submitForm(newFirstName.value, newLastName.value, newRole.value, newBio.value); newFirstName.value=''; newLastName.value=''; newRole.value=''; newBio.value=''">Add New Member</button>

    </div>

  </div>

</div>
