<div class="edit-players">
  <h3>Edit your members:</h3>
  <div *ngFor="let member of members | async" class="edit-form panel panel-default col-md-3">

    <div class="panel-heading">
      <h4 class="panel-title">Edit {{member.firstName}} {{member.lastName}}</h4>
    </div>

    <div class="panel-body">

      <label>First Name:</label>
      <input class="form-control" [(ngModel)]="member.firstName">
      <br>

      <label>Last Name:</label>
      <input class="form-control" [(ngModel)]="member.lastName">
      <br>

      <label>Role:</label>
      <input class="form-control" [(ngModel)]="member.role">

      <label>Bio:</label>
      <input class="form-control" [(ngModel)]="member.bio">
      <br>

      <button class='btn' (click)="submitUpdate(member)">Update</button>
      <button class='btn' (click)="beginDeletingMember(member)">Delete</button>
    </div>

  </div>

</div>

<br>

<div class="add-member col-md-12">
  <h3>Add New Member:</h3>
  <div class="new-member panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Add a new member</h3>
    </div>

    <div class="panel-body">

      <div>

        <div>
          <label>First Name:</label>
          <br>
          <input class='form-control' #newFirstName>
        </div>

        <div>
          <label>Last Name:</label>
          <br>
          <input class='form-control' #newLastName>
        </div>

        <div>
          <label>Role at the club</label>
          <br>
          <input class='form-control' #newRole>
        </div>

        <div>
          <label>Bio</label>
          <br>
          <input class='form-control' #newBio>
        </div>

        <br>

        <button class='btn' (click)="submitForm(newFirstName.value, newLastName.value, newRole.value, newBio.value); newFirstName.value=''; newLastName.value=''; newRole.value=''; newBio.value=''">Add New Member</button>

      </div>

    </div>

  </div>

</div>
