<div class="home">
  <div class="pipe">
    <h5>Search through the team by role or name <a (click)="displayAll()">display all</a></h5>
    <input #desiredSearchFilter>
    <button (click)="searchToLower(desiredSearchFilter.value)"> search </button>
  </div>
  <div class="members" *ngFor="let member of members | async | search:desiredSearch">
    <br>
    <h2>{{member.firstName}} {{member.lastName}}</h2>
    <p>
      {{member.role}}
    </p>
    <img class="link-to-single-page" (click)="goToMemberPage(member)" src="{{member.image}}"/>
  </div>
</div>
